<div class="col-xl-12 col-50 box-col-12 des-xl-50">
  <div class="row">
    <div class="col-sm-12 col-xl-4 col-lg-6">
      <div class="card o-hidden border-0">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center"><i data-feather="database"></i>
            </div>
            <div class="media-body media-body-HaCK"><span class="m-0">Toplam Kesilen Kurban</span>
              <h6 class="mb-0 counter">{{grandTotalsComponentValue.TotalSacrife}}</h6><i class="icon-bg"
                                                   data-feather="database"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-4 col-lg-6">
      <div class="card o-hidden border-0">
        <div class="bg-secondary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center"><i
                    data-feather="shopping-bag"></i></div>
            <div class="media-body media-body-HaCK"><span class="m-0">Toplam Kazanc</span>
              <h6 class="mb-0 counter">{{grandTotalsComponentValue.TotalPrice|stringformat:"%.2f"}}</h6><i class="icon-bg"
                                                   data-feather="shopping-bag"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-4 col-lg-12">
      <div class="card o-hidden border-0">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center"><i
                    data-feather="message-circle"></i></div>
            <div class="media-body media-body-HaCK"><span class="m-1">Toplam Kalan Borc</span>
              <h6 class="mb-0 counter">{{grandTotalsComponentValue.RemainingDebt|stringformat:"%.2f"}}</h6><i class="icon-bg"
                                                  data-feather="message-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-12 col-50 box-col-12 des-xl-50">
  <div class="row">
    <div class="col-sm-12 col-xl-4 col-lg-6">
      <div class="card o-hidden border-0">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center"><i data-feather="database"></i>
            </div>
            <div class="media-body media-body-HaCK"><span
                    class="m-0">Hisseli  Kesilen Toplam Kurban  </span>
              <h6 class="mb-0 counter">{{grandTotalsComponentValue.SharedSacrifeTotal}}</h6><i class="icon-bg"
                                                   data-feather="database"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-4 col-lg-6">
      <div class="card o-hidden border-0">
        <div class="bg-secondary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center"><i
                    data-feather="shopping-bag"></i></div>
            <div class="media-body media-body-HaCK"><span
                    class="m-0">Sadece Hisseli Toplam Kazanc</span>
              <h6 class="mb-0 counter">{{grandTotalsComponentValue.SacrifeSharedPriceTotal|stringformat:"%.2f"}}</h6><i class="icon-bg"
                                                   data-feather="shopping-bag"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-4 col-lg-12">
      <div class="card o-hidden border-0">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center"><i
                    data-feather="message-circle"></i></div>
            <div class="media-body media-body-HaCK"><span class="m-1">Sadece Hisseli Kalan Borc</span>
              <h6 class="mb-0 counter">{{grandTotalsComponentValue.SharedSacrifeRemainingDebt|stringformat:"%.2f"}}</h6><i class="icon-bg"  data-feather="message-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>