<div class="col-xl-4 box-col-4 top-sell-sec">
    <div class="card">
        <div class="card-header pb-0">
            <div class="header-top d-sm-flex justify-content-between align-items-center">
                <strong>En cok kurban kestiren hayirsever</strong>
            </div>
        </div>
        <div class="card-body">
            <div class="media" style="padding: 0">
                <div class="media-body">
                    <strong> <a href="/admin/{{modulNameUrl}}/kisiler/edit/{{charitableWhoAddedMostSacrife.KisiID}}">{{charitableWhoAddedMostSacrife.NameLastname}}</a> </strong>

                    <br> <p>{{charitableWhoAddedMostSacrife.Counts}} adet</p>
                    <ul class="rating-star">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>

            </div>
        </div>
        <a class="btn btn-light" href="/admin/report/getAllCharitableWhoAddedMostSacrife">Analiz Et </a>
    </div>
</div>