<div class="col-xl-6 col-md-6 box-col-6 des-xl-50">

    <div class="widget-joins card widget-arrow">

        <div class="row">
            <h6 class="text-center tree-color">Hisseli Kurbanlar</h6>
            <!--                kazanc = dollar-sign ,-->
            <!--                borc =shopping-bag-->
            <!--              other   shopping-cart , arrow-up-->

            <div class="col-sm-6 pe-0" style="border-bottom: 1px solid #efefef; border-right: 1px solid #efefef;">
                <div class="align-self-center text-center" style="color:red">
                    <strong>2021 Yılı </strong></div>
                <div class="align-self-center text-center" style="color:  #0a6aa1">
                    <small>Toplam kesilen kurban {{shareHoldersComponentValue.ShareSacrifeCount2021}}</small></div>
                <div class="media border-after-xs">


                    <div class="media-body align-self-center">
                        <i class="font-primary" data-feather="arrow-up"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="mb-0">Kazanc <span class="counter">{{shareHoldersComponentValue.SacrifeSharedPriceTotal2021|stringformat:"%.2f"}}</span></h6>
                    </div>

                    <div class="media-body align-self-center">
                        <i class="font-primary" data-feather="arrow-down"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="mb-0">Borc <span class="counter">{{shareHoldersComponentValue.SharedSacrifeRemainingDebt2021|stringformat:"%.2f"}}</span></h6>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 pe-0" style="border-bottom: 1px solid #efefef; border-right: 1px solid #efefef;">
                <div class="align-self-center text-center" style="color:red">
                    <strong>2022 Yılı </strong></div>
                <div class="align-self-center text-center" style="color:  #0a6aa1">
                    <small>Toplam kesilen kurban {{shareHoldersComponentValue.ShareSacrifeCount2022}} </small></div>
                <div class="media border-after-xs">


                    <div class="media-body align-self-center">
                        <i class="font-primary" data-feather="arrow-up"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="mb-0">Kazanc <span class="counter">{{shareHoldersComponentValue.SacrifeSharedPriceTotal2022|stringformat:"%.2f"}}</span></h6>
                    </div>

                    <div class="media-body align-self-center">
                        <i class="font-primary" data-feather="arrow-down"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="mb-0">Borc <span class="counter">{{shareHoldersComponentValue.SharedSacrifeRemainingDebt2022|stringformat:"%.2f"}}</span></h6>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 pe-0" style="border-bottom: 1px solid #efefef; border-right: 1px solid #efefef;">
                <div class="align-self-center text-center" style="color:red">
                    <strong>2023 Yılı </strong></div>
                <div class="align-self-center text-center" style="color:  #0a6aa1">
                    <small>Toplam kesilen kurban {{shareHoldersComponentValue.ShareSacrifeCount2023}} </small></div>
                <div class="media border-after-xs">


                    <div class="media-body align-self-center">
                        <i class="font-primary" data-feather="arrow-up"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="mb-0">Kazanc <span class="counter">{{shareHoldersComponentValue.SacrifeSharedPriceTotal2023|stringformat:"%.2f"}}
</span></h6>
                    </div>

                    <div class="media-body align-self-center">
                        <i class="font-primary" data-feather="arrow-down"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="mb-0">Borc <span class="counter">{{shareHoldersComponentValue.SharedSacrifeRemainingDebt2023|stringformat:"%.2f"}}
</span></h6>

                    </div>
                </div>
            </div>


        </div>
    </div>

</div>