

<style>

    .countdown {
        text-align: center;
    }

    .countdown .time-sec {
        position: relative;
        display: inline-block;
        margin: 5px;
        height: 80px;
        width: 80px;
        border-radius: 100px;
        box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, .5);
        background: #efefef;
        color: #333;
    }

    .countdown .time-sec .main-time {
        font-weight: 500;
        line-height: 50px;
        font-size: 1.5em;
        color: orangered;
    }

    .countdown .time-sec span {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: .9em;
        font-weight: 600;
    }

    .widget-joins::before, .widget-joins::after {
        background: none;
    }
</style>
<div class="col-xl-3 col-50 box-col-4 des-xl-50">
    <div class="card" style="background-color: #aeaeae">
        <div class="card-header" style="padding: 20px!important;">
            <div class="header-top d-sm-flex align-items-center">

                <div class="row">
                    <div class="col-xl-12 col-50 box-col-12 des-xl-50">
                        <h5 class="text-center" style="font-size: 15px">
                            {{locale.Get("Kurban Bayramina Kalan Süre")}}</h5>
                    </div>


                    <div class="col-xl-12 col-50 box-col-12 des-xl-50">
                        <div class="countdown" data-date="2023/06/28" id="kurban-countdown"></div>
                    </div>
                    <div class="col-xl-12 col-50 box-col-12 des-xl-50">
                        <h5 class="text-center" style="font-size: 15px">28 Haziran 2023 </h5>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
