<div class="col-xl-3 col-md-6 box-col-6 des-xl-50">
    <div class="card profile-greeting"
         style="    background-image: url(http://admin.pixelstrap.com/viho/assets/images/dashboard/bg.jpg); ">
        <div class="card-header">
            <div class="header-top">
            </div>
        </div>
        <div class="card-body text-center p-t-0">
            <h3 class="font-light">Merhaba user Hosgeldin</h3>
            <p>Sizin icin en iyisini yapmaya calisiyoruz, sabir ve zaman ve dua ile yapacagiz</p>
            <button class="btn btn-light">Mesaj kutuma git</button>
        </div>
        <div class="confetti">
            <div class="confetti-piece"></div>
            <div class="confetti-piece"></div>
            <div class="confetti-piece"></div>
            <div class="confetti-piece"></div>
            <div class="confetti-piece"></div>
            <div class="confetti-piece"></div>
            <div class="confetti-piece"></div>
            <div class="confetti-piece"></div>
            <div class="confetti-piece"></div>
            <div class="confetti-piece"></div>
            <div class="confetti-piece"></div>
            <div class="confetti-piece"></div>
            <div class="confetti-piece"></div>

        </div>
    </div>
</div>
