 {% if post.Kurbanlar %}
<table class="table table-responsive-sm table-bordered">
    <thead>
        <tr>

            <th>Kurban Fiyati</th>
            <th>Ödemeler Toplamı</th>
            <th>Kalan Borcu</th>
            <th>Kasa Borcu</th>
            <th>Kurban Türü</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        {% for kurbanlarListesi in post.Kurbanlar %}
        <tr>
            <td>
                {% if kurbanlarListesi.KurbanFiyati-1 %}
                <span>0.00</span> TL {% else %} {{kurbanlarListesi.KurbanFiyati|stringformat:"%.2f" }} TL {% endif %}
            </td>
            <td>{{kurbanlarListesi.Bakiye|stringformat:"%.2f" }}</td>
         
            <td>{{kurbanlarListesi.Alacak|stringformat:"%.2f" }}</td>
            <td>{{kurbanlarListesi.KasaBorcu|stringformat:"%.2f" }}</td>
            <td>
                {% if kurbanlarListesi.KurbanTuru==9 %}
                <span>Hisseli Büyükbaş </span> 
                {% elif kurbanlarListesi.KurbanTuru==8 %}
                <span>kurban bayramı küçükbaş </span>
                {% elif kurbanlarListesi.KurbanTuru==1 %}
                <span>Adak </span>
                {% elif kurbanlarListesi.KurbanTuru==2 %}
                <span>Akika </span>
                {% elif kurbanlarListesi.KurbanTuru==3 %}
                <span>Şükür </span>
                {% elif kurbanlarListesi.KurbanTuru==4 %}
                <span>SAHİBİNİN NİYETİNE</span>
                {% elif kurbanlarListesi.KurbanTuru==5 %}
                <span>Hayır/ Bagis </span>
                {% elif kurbanlarListesi.KurbanTuru==6 %}
                <span>Nafile</span>
                {% elif kurbanlarListesi.KurbanTuru==7 %}
                <span>Sifa</span>
                {% endif %}
            </td>
            <td> <a class="btn btn-sm btn-danger" href="/admin/{{modulNameUrl}}/kurban/edit/{{kurbanlarListesi.ID}}">Göster</a>
            </td>




        </tr>

        {% endfor %}

    </tbody>
</table>
{% else %}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span> Kurban Verisi Bulunamadı  </span>
        </div>
    </div>
</div>
{% endif %}