
{% set routerName = 'admin/'+modulNameUrl+'/kisiler' %}
<style>
    .addShow{
        display: block;
    }
</style>

<form style="width: 600px; margin: auto;" method="POST" action="/{{routerName}}/kisiEkleAjax" accept-charset="UTF-8" class="form-control1"
    id="personAdd" enctype="multipart/form-data">
    <input name="_csrf" type="hidden" value="{{ csrf }}">
    <input name="viewID" type="hidden" value="{{ viewID }}">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <h3>Hızlı Kişi Ekleme</h3>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="AdSoyad">Adı Soyadı</label>

                        <input id="AdSoyad" class="form-control {{err.AdSoyad_valid}} AdSoyad" name="AdSoyad" value="{{adSoyad}}" data-rule-required="true"
                            data-msg-required="Lütfen ad ve soyadı bilgilerini giriniz" data-msg-email="Lütfen Ad ve soyadı bilgilerini giriniz">

                            {% if err.AdSoyad_error %}
                            <div class="invalid-feedback" style="display:block">{{err.AdSoyad}}</div>
                            {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="Telefon">Telefon</label>
                        <input class="form-control {{err.Telefon_valid}} Telefon" id="Telefon" name="Telefon" value="{{post.Telefon}}" type="text"
                            placeholder="Telefon"
                            data-rule-required="true"
                            data-msg-required="Lütfen telefon bilgilerini giriniz" data-msg-email="Lütfen telefon bilgilerini giriniz">
                            <div class="invalid-feedback" id="TelefonValid">{{err.Telefon}}</div>
                             {% if err.Telefon_error %}
                                 <div class="invalid-feedback" style="display:block">{{err.Telefon}}</div>
                            {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="Adres"> Adres
                        </label>
                        <textarea class="form-control {{err.Adres_valid}}" id="Adres" name="Adres"
                            rows="2">{{ post.Adres }}</textarea>
                    </div>

                    <div class="card-footer">
                        <button id="RefDataSave" class="btn btn-sm btn-success stnc float-right" type="submit"> Kaydet</button>
                        <!-- <button class="btn btn-sm btn-danger" type="reset"> VAZGEÇ</button> -->
                    </div>


                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label for="AffinityType"> Tip</label>
                        <select class="form-control form-select {{err.AffinityType_valid}}" name="AffinityType" id="AffinityType">
                            <option {%if post.AffinityType==0 %} selected {% endif %} value="0">Henüz Belli Değil
                            </option>
                            <option {%if post.AffinityType==1 %} selected {% endif %} value="1">İhvan/Ahavat
                            </option>
                            <option {%if post.AffinityType==2 %} selected {% endif %} value="2">Muhibban
                            </option>
                            <option {%if post.AffinityType==3 %} selected {% endif %} value="3">Velî
                            </option>
                            <option {%if post.AffinityType==4 %} selected {% endif %} value="4">Muhtelif Kominiteler
                            </option>
                            <option {%if post.AffinityType==5 %} selected {% endif %} value="5">Personel
                            </option>
                        </select>

                        {% if err.AffinityType_error %}
                            <div class="invalid-feedback" style="display:block">{{err.AffinityType}}</div>
                        {% endif %}
                    </div>


                    <div class="form-group">
                        <label for="Origins"> Koken</label>
                        <select class="form-control form-select {{err.Origins_valid}}" name="Origins" id="Origins">
                            <option {%if post.Origins==0 %} selected {% endif %} value="0">Atanmamis
                            </option>
                            <option {%if post.Origins==1 %} selected {% endif %} value="1">Turk
                            </option>
                            <option {%if post.Origins==2 %} selected {% endif %} value="2">Gayri Turk
                            </option>

                        </select>
                        {% if err.Origins_error %}
                          <div class="invalid-feedback" style="display:block">{{err.Origins}}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input class="form-control {{err.Email_valid}} Email" name="Email" id="Email" value="{{post.Email}}" type="text" placeholder="Email"
                            data-rule-required="true"
                            data-msg-required="Lütfen Email bilgilerini giriniz" data-msg-email="Lütfen Email bilgilerini giriniz">
                            <div class="invalid-feedback" id="EmailValid">{{err.Email}}</div>
                             {% if err.Email_error %}
                               <div class="invalid-feedback" style="display:block">{{err.Email}}</div>
                             {% endif %}
                    </div>


                    <div class="form-group">
                        <label for="Aciklama"> Aciklama
                        </label>
                        <textarea class="form-control {{err.Aciklama_valid}}" id="Aciklama" name="Aciklama"
                            rows="2">{{ post.Aciklama }}</textarea>
                    </div>

        
                </div>

            </div>
        </div>

    </div>
</form>


<script type="text/javascript">
$(function() { //shorthand document.ready function
    $('.Telefon').mask("0000 000 0000", {placeholder: "____ ___-____"}).change();
});
</script>
