{% extends "../../app.html" %}
{% block content %}

{% include "../../../viewComponentsAdmin/alertMsgJS.html"%}

<div class="row">
  <!-- <div class="col-md-6">
    <h1 class="title"><b>Bitmesine Kalan Süre</b></h1>
    <div class="counthown" id="normal-counthown" data-date="2021/04/10"></div>
  </div> -->
  <div class="col-md-6">
    <h1 class="title"><b>Kurbana Kalan Süre</b></h1>
    <div class="counthown" id="kurban-counthown" data-date="2022/07/09"></div>
  </div>
</div>


<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
aria-haspopup="true" aria-expanded="false" data-container="body" data-bs-toggle="tooltip"
data-bs-placement="top" title="Popover title"><i class="fab fa-whatsapp"></i></button>

<div class="dropdown-menu" style="margin: 0px;">
<a class="dropdown-item" target="_blank"
  href="https://wa.me/0905364802666?text=Merhaba+Efendim%2C+Kurban%C4%B1n%C4%B1z+ile+ilgili+bilgilere+bu+https%3A%2F%2Fkysmerkez.kurbandefteri.com%2FkurbanBilgi%2FcG36kY%2F+adresten+ula%C5%9Fabilirsiniz.%0D%0AKurban%C4%B1n%C4%B1z%C4%B1+Teslim+Almak+%C4%B0%C3%A7in+Korkmazlar+sucuk+mezbaha+%28Mavi+Bina%29+%27ya++gelebilirsiniz.%0D%0AHaritadaki+Konumu%3Ahttps%3A%2F%2Fmaps.app.goo.gl%2Fme57W8m9Jh8CTRC49%0D%0ACadde+G%C3%B6r%C3%BCn%C3%BCm%C3%BC+https%3A%2F%2Fbit.ly%2F3z610Ye+%28Link+a%C3%A7abilmek+i%C3%A7in+bu+numara+sizde+kay%C4%B1tl%C4%B1+olmas%C4%B1+gerekir.%29">Kurban
  Bilgisi</a>
<a class="dropdown-item" target="_blank"
  href="https://wa.me/0905364802666?text=Merhaba+Efendim+Kurban%C4%B1n%C4%B1z%C4%B1+Teslim+Almak+%C4%B0%C3%A7in+Korkmazlar+sucuk+mezbaha+%28Mavi+Bina%29+%27ya++gelebilirsiniz.%0D%0AHaritadaki+Konumu%3Ahttps%3A%2F%2Fmaps.app.goo.gl%2Fme57W8m9Jh8CTRC49%0D%0AStreet+View+https%3A%2F%2Fbit.ly%2F3z610Ye%0D%0A">Konum
  Gönder</a>
<a class="dropdown-item" target="_blank"
  href="https://wa.me/0905364802666?text=Merhaba+Efendim+Kurban%C4%B1n%C4%B1z%C4%B1n+par%C3%A7alama+i%C5%9Flemi+ba%C5%9Flad%C4%B1+yar%C4%B1m+saat+i%C3%A7inde+teslim+almaya+gelebilirsiniz.">Ek
  Mesaj</a>
</div>


<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-6">
        <h3>Tasks</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Apps </li>
          <li class="breadcrumb-item active">Tasks</li>
        </ol>
      </div>
      <div class="col-sm-6">
        <!-- Bookmark Start-->
        <div class="bookmark">
          <ul>
            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top"
                title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top"
                title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top"
                title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top"
                title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
            <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
              <form class="form-inline search-form">
                <div class="form-group form-control-search">
                  <input type="text" placeholder="Search..">
                </div>
              </form>
            </li>
          </ul>
        </div>
        <!-- Bookmark Ends-->
      </div>
    </div>
  </div>
</div>







<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>UI Components</h5>
        </div>
        <div>
          <div class="card-block row">
            <div class="col-sm-12 col-lg-12 col-xl-12">
              <div class="table-responsive">
                <table class="table ,00,
                 table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Adı Soyadı </th>
                      <th scope="col">Toplam Ödeme </th>
                      <th scope="col">Kalan Borç </th>
                      <th scope="col">Referans</th>
                      <th scope="col">Vekalet</th>
                      <th scope="col">Açıklama</th>
                      <th scope="col">İşlemler</th>
                    </tr>
                  </thead>
                  <tbody>


                    {% for kurban in grupBilgi.KurbanKisiList %}



                    {% if kurban.KisiID!=1 %}
                    <tr>
                        <td class="text-center">
                            <strong class="text-center">{{forloop.Counter}}</strong>
                        </td>
                        <td>
                            <!-- <a target="_blank" href="https://wa.me/90{{kurban.Telefon }}?text=Test">WhatsApp</a> -->
                            <div>
                                <strong>{{kurban.KisiAdSoyad}}</strong>
                            </div>
                            <div class="small text-muted">
                                <span>Tel</span> | {{kurban.KisiTelefon }}
                            </div>
                            {% if kurban.GrupLideri==0 %}
                            <div><strong style="color: brown;">Grup Lideri
                                </strong></div>
                            {% endif %}
                        </td>

                        {% if kurban.BorcDurum!=3 %}
                        <td>
                            <strong class="myMoney2">
                                {{kurban.Bakiye|stringformat:"%.2f"}}</strong>
                            <small>TL</small>
                        </td>
                        {% endif %}

                        {% if kurban.BorcDurum!=3 %}
                        <td>
                            <strong class="myMoney3">
                                {{kurban.Alacak|stringformat:"%.2f"}}</strong>
                            <small>TL</small>


                            {% if kurban.BorcDurum==6 %}
                            <small style="padding: 5px;" class="alert alert-danger">Ödeme
                                Tamamlandı</small>
                            {% endif %}

                        </td>
                        {% endif %}


                        {% if kurban.BorcDurum==3 %}
                        <td>
                            <small style="padding: 5px;" class="alert alert-danger">Kasamız
                                Borçlu Durumda</small>
                            <br>
                            <br>
                            <strong class="myMoney2">
                                {{kurban.Borc|stringformat:"%.2f"}}</strong>
                            <small>TL</small>
                        </td>
                        <td>
                        </td>
                        {% endif %}

                        <td>
                            {% if kurban.ReferansAdSoyad!="" %}

                            <span>{{kurban.ReferansAdSoyad}}</span><br>
                            <strong> TEL:</strong>
                            <small>{{kurban.ReferansTelefon }} </small>

                            {% endif %}



                        </td>

                        <td>
                            {% if kurban.VekaletDurumu==1 %}
                            <span class="badge badge-warning" id="vm{{kurban.ID}}"> Vekalet Alınmamış</span>
                            <br>
                            <button id="vmtxt{{kurban.ID}}"  data-id="{{kurban.ID}}" data-durum="alindi"
                                class="btn btn-sm btn-primary vekaletModal ">Alındı Olarak
                                İşaretle</button>
                            {% else %}
                            <span class="badge badge-success" id="vm{{kurban.ID}}"> Vekalet Alınmış</span>
                            <br>
                            <button id="vmtxt{{kurban.ID}}"  data-id="{{kurban.ID }}" data-durum="alinmadi"
                                class="btn btn-sm btn-primary vekaletModal">Alınmadı Olarak
                                İşaretle</button>
                            {% endif %}
                        </td>



                        <td>


                            <small class="kisiAciklamaTxt{{kurban.KisiID}}"> {{kurban.PersonComment }}</small>
                            <br>
                            <button data-id="{{kurban.KisiID}}" data-adi="{{kurban.KisiAdSoyad}}"
                            class="btn btn-sm btn-secondary kisiAciklamaKaydetBtn">Ekle</button>

                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-info dropdown-toggle btn-sm"
                                    type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">İşlemler
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start"
                                    style="will-change: transform; margin: 0px;">

                                    <a class="dropdown-item"
                                        href="/admin/kurban/edit/{{kurban.ID}}">
                                        Aynı Sayfada Düzenle</a>

                                    <a class="dropdown-item" target="_blank"
                                        href="/admin/kurban/edit/{{kurban.ID}}">
                                        Yeni Sayfada Düzenle</a>



                                    <a class="dropdown-item"
                                        href="/admin/kisiler/edit/{{kurban.KisiID}}">Kişi
                                        Bilgilerine Git </a>


                                    <a class="dropdown-item"
                                        href="/admin/kurban/edit/{{kurban.ID}}?action=odemelerList">Ödemeler</a>


                                    <a class="dropdown-item"
                                        href="/admin/kurban/grupLideri/{{kurban.ID}}?grupID={{kurban.GrupID}}">Grup
                                        Lideri Yap</a>
                                    <!-- 
                                    <a class="dropdown-item"
                                        href="/admin/gruplar/edit/{{kurban.GrupID}}">Grubunu
                                        Düzenle</a>       -->

                                </div>
                            
                          
                     
                            
                            </div>
                            <a class="btn btn-danger btn-sm"
                            href="/admin/kurban/edit/{{kurban.ID}}?action=odemelerList">Ödeme</a>
                            {% if grupBilgi.Durum!=2 %}
                     

                            <div class="btn-group">
                                <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">WhatsApp</button>
                                <div class="dropdown-menu" style="margin: 0px;">
                                    <a class="dropdown-item" target="_blank" href="{{msg.Wp(kurban.Slug)}}">Kurban Bilgisi</a>
                                    <a class="dropdown-item" target="_blank" href="{{msg.Wp2(kurban.Slug)}}">Konum Gönder</a>
                                    <a class="dropdown-item" target="_blank" href="{{msg.Wp3(kurban.Slug)}}">Ek Mesaj</a>
                
                                </div>
                                </div>


                        {% endif %}
                        </td>
                    </tr>

                    {% else %}
                    <tr>
                        <td class="text-center">
                            <strong class="text-center">{{forloop.Counter}}</strong>
                        </td>
                        <td colspan="6">
                            <div style="padding:5px" class="alert alert-danger"
                                role="alert">
                                Kişi Atanmamıştır <a
                                    href="/admin/kurban/edit/{{kurban.ID}}">atamak
                                    için tıklayınız</a></div>
                        </td>

                        <td>

                            <div class="btn-group">
                                <button class="btn btn-info btn-sm dropdown-toggle"
                                    type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">İşlemler
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start"
                                    style="will-change: transform; margin: 0px;">


                                    <a class="dropdown-item" target="_blank"
                                        href="/admin/kurban/edit/{{kurban.ID}}">Yeni
                                        Sayfada Düzenle</a>


                                    <a class="dropdown-item"
                                        href="/admin/kurban/edit/{{kurban.ID}}">Aynı
                                        Sayfada Düzenle</a>



                                    <a class="dropdown-item"
                                        href="/admin/kurban/edit/{{kurban.ID}}?action=odemelerList">Ödemelerini
                                        Göster</a>


                                    <!-- <a class="dropdown-item"
                                        href="/admin/gruplar/edit/{{kurban.GrupID}}">Grubunu
                                        Düzenle</a> -->
                                </div>

                                <span>|</span>
                                <a class="btn btn-danger btn-sm"
                                    href="/admin/kurban/edit/{{kurban.ID}}?action=odemelerList">Ödeme</a>

                            </div>

                        </td>

                    </tr>
                    {% endif%}
                    {% endfor %}

                  </tbody>
                </table>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<td>




  </div>
</td>



{% endblock %}


{% block jsInline %}


<script src="/assets/admin/js/jquery.counthown.min.js"></script>
<script>





  (function ($) {

    "use strict";


    //NORMAL TIMES COUNthOWN

    if (isExists('#normal-counthown')) {
      var date = $('#normal-counthown').data('date');
      $('#normal-counthown').counthown(date, function (event) {
        var $this = $(this).html(event.strftime(''
          + '<div class="time-sec"><h3 class="main-time">%D</h3> <span>Gün</span></div>'
          + '<div class="time-sec"><h3 class="main-time">%H</h3> <span>Saat</span></div>'
          + '<div class="time-sec"><h3 class="main-time">%M</h3> <span>Dakika</span></div>'
          + '<div class="time-sec"><h3 class="main-time">%S</h3> <span>Saniye</span></div>'));
      });
    }


    if (isExists('#kurban-counthown')) {
      var date = $('#kurban-counthown').data('date');
      $('#kurban-counthown').counthown(date, function (event) {
        var $this = $(this).html(event.strftime(''
          + '<div class="time-sec"><h3 class="main-time">%D</h3> <span>Gün</span></div>'
          + '<div class="time-sec"><h3 class="main-time">%H</h3> <span>Saat</span></div>'
          + '<div class="time-sec"><h3 class="main-time">%M</h3> <span>Dakika</span></div>'
          + '<div class="time-sec"><h3 class="main-time">%S</h3> <span>Saniye</span></div>'));
      });
    }







  })(jQuery);



  function isExists(elem) {
    if ($(elem).length > 0) {
      return true;
    }
    return false;
  }

</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script src="/assets/admin/js/ve.js"></script> -->
{% endblock %}