{% extends "../../app.html" %}
{% block content %}
{% set RootName = 'admin-gKurban' %}
{% set routerName = 'admin/'+modulNameUrl+'/gKurban' %}
{% include "../../../viewComponentsAdmin/alertMsgJS.html"%}

<div class="row dashboard-2-main">
    <div class="col-xl-12">
        <div class="row">
            <!--start welcome-->
            {% if permissionList.welcome %}
              {% include "component/welcome.html"%}
            {% endif %}
            <!--end welcome-->

            <!--start time-->
            {% if permissionList.time %}
              {% include "component/time.html"%}
            {% endif %}
            <!--end time-->

            <div class="col-xl-6 col-50 box-col-6 des-xl-50">
                <div class="row">
                    <!--start grand_totals-->
                    {% if permissionList.grand_totals %}
                      {% include "component/grand_totals.html"  with grandTotalsComponentValue=grandTotalsComponentValue only%}
                    {% endif %}
                    <!--end grand_totals-->

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="row">
            <!--start shareholders-->
            {% if permissionList.shareholders %}
              {% include "component/shareholders.html" with shareHoldersComponentValue=shareHoldersComponentValue only%}
            {% endif %}
            <!--end shareholders-->

            <div class="col-xl-6 col-md-6 box-col-6 des-xl-50">
                <div class="row">
                    <!--start most_added_staff-->
                    {% if permissionList.most_added_staff %}
                      {% include "component/most_added_staff.html" with usersWhoAddedMostSacrifeAndUser=usersWhoAddedMostSacrifeAndUser only %}
                    {% endif %}
                    <!--end most_added_staff-->

                    <!--start most_added_branch-->
                    {% if permissionList.most_added_branch %}
                      {% include "component/most_added_branch.html" with usersWhoAddedMostSacrifeAndBranch=usersWhoAddedMostSacrifeAndBranch only %}
                    {% endif %}
                    <!--end most_added_branch-->

                    <!-- start most_sacrife_charitable-->
                    {% if permissionList.most_sacrife_charitable %}
                      {% include "component/most_sacrife_charitable.html" with charitableWhoAddedMostSacrife=charitableWhoAddedMostSacrife only %}
                    {% endif %}
                    <!--end welcome-->

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block jsInline %}
<script src="/assets/admin/js/my-libb/jquery.countdown.min.js"></script>
<script>
    (function ($) {

        "use strict";


        //NORMAL TIMES COUNthOWN


        if (isExists('#kurban-countdown')) {
            var date = $('#kurban-countdown').data('date');

            $('#kurban-countdown').countdown(date, function (event) {
                var $this = $(this).html(event.strftime(''
                    + '<div class="time-sec"><h3 class="main-time">%D</h3> <span>Gün</span></div>'
                    + '<div class="time-sec"><h3 class="main-time">%H</h3> <span>Saat</span></div>'
                    + '<div class="time-sec"><h3 class="main-time">%M</h3> <span>Dakika</span></div>'
                    + '<div class="time-sec"><h3 class="main-time">%S</h3> <span>Saniye</span></div>'));
            });
        }


    })(jQuery);


    function isExists(elem) {
        if ($(elem).length > 0) {
            return true;
        }
        return false;
    }

</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script src="/assets/admin/js/ve.js"></script> -->
{% endblock %}